@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{ 
@font-face {
    font-family: st;
    src: url("../Font/SpaceGrotesk-VariableFont_wght.ttf");
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/bg-main-desktop.png");
    background-repeat: no-repeat;
}
@media only screen and (max-width: 374px) {
    body{
        background-image: url("../images/bg-main-mobile.png");
        background-repeat: no-repeat;
    }
}
}
.color{
    color:hsl(249, 99%, 64%);
    color:hsl(278, 94%, 30%);
    color:hsl(0, 100%, 66%);
    color:hsl(0, 0%, 100%);
    color:hsl(270, 3%, 87%);
    color:hsl(279, 6%, 55%);
    color:hsl(278, 68%, 11%);
}